<script type='text/javascript' src='tal/static/script/lib/require.js'></script>
<script type='text/javascript' src='jquery/dist/jquery.js'></script>
<link rel='stylesheet' href='static/style/base.css' />
